*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

// header
header {
  background-color: #001e28;
  color: white;
  .short-description {
    background-color: #112f39;
    text-align: center;
    padding: 5px;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    .left-side {
      width: 50%;
      .title {
        width: 100%;
        text-transform: uppercase;
        .logo {
          img {
            width: 10%;
          }
        }
      }
    }
    .right-side {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        border: none;
        background-color: #3a7d94;
        color: white;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
  .header-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    div {
      width: 50%;
      padding: 15px;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      i {
        margin-right: 5px;
      }
    }
    .active {
      background-color: #23353b;
      border-bottom: 5px solid red;
    }
  }
}

// NAV
nav {
  width: 100%;
  background-color: #c8cdcd;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  .active {
    border-bottom: 4px solid red;
    color: red;
  }
  .item {
    text-align: center;
    padding: 17px 0;
    i {
      font-size: 20px;
    }
    .desc {
      margin-top: 5px;
    }
  }
  .favourites {
    position: relative;
    .amount-fav {
      background-color: gray;
      width: 17px;
      height: 17px;
      position: absolute;
      top: 7%;
      right: 7%;
      border-radius: 2px;
    }
  }
}

// MAIN
main {
  .filters {
    width: 100%;
    padding: 10px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      border: none;
      padding: 7px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 9px;
      color: rgb(59, 57, 57);
    }
    .active {
      background-color: red;
      color: white;
    }
  }
  .calendar {
    background-color: rgb(189, 189, 189);
    padding: 8px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    #previous-day,
    #next-day {
      background-color: lightgray;
      padding: 7px;
      border-radius: 8px;
    }
    .date-picker {
      padding: 7px;
      background-color: lightgray;
      border-radius: 8px;
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      i {
        margin-right: 2%;
      }
      p{
        width: 50%;
      }
      .day,
      .day-week {
        margin-left: 7%;
      }
    }
  }
}
