*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  overflow-y: scroll;
}
.theme-light {
  --background-nav: #c8cdcd;
  --background-buttons: #dcd7d7;
  --font-color: #000000;
}
.theme-dark {
  --background-nav: #212222;
  --background-buttons: #000;
  --font-color: #ffffff;
}

// header
header {
  background-color: #001e28;
  color: white;
  width: 101%;
  .short-description {
    background-color: #112f39;
    text-align: center;
    padding: 5px;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    overflow: hidden;
    .left-side {
      width: 50%;
      .title {
        width: 100%;
        text-transform: uppercase;
        .logo {
          img {
            width: 10%;
          }
        }
      }
    }
    .right-side {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        border: none;
        background-color: #3a7d94;
        color: white;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
  .header-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    div {
      width: 50%;
      padding: 15px;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      i {
        margin-right: 5px;
      }
    }
    .active {
      background-color: #23353b;
      border-bottom: 5px solid red;
    }
  }
}

// NAV
nav {
  width: 101%;
  background-color: var(--background-nav);
  padding: 0 5px;
  font-size: 12px;
  .image {
    img {
      width: 50%;
    }
  }
}
.side-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  background-color: rgb(146, 145, 145);
  width: 40%;
  height: 101vh;
  z-index: 100;
  transform: translateX(102%);
  transition: transform 0.4s;
  .top-menu {
    position: relative;
    top: 0;
    height: 6%;
    width: 100%;
    #close {
      position: absolute;
      right: 0;
      padding: 10px;
      color: white;
    }
  }
  .list-menu {
    position: relative;
    top: 5%;
    color: white;
    .theme {
      margin-bottom: 30px;
      p {
        margin-bottom: 10px;
      }
      .switch input {
        display: none;
      }
      .switch label {
        display: block;
        width: 60px;
        height: 30px;
        padding: 3px;
        border-radius: 15px;
        border: 2px solid white;
        cursor: pointer;
        transition: 0.3s;
      }
      .switch label::after {
        content: "";
        display: inherit;
        width: 20px;
        height: 20px;
        border-radius: 12px;
        background: white;
        transition: 0.3s;
      }
      .switch input:checked ~ label {
        border-color: #000;
      }
      .switch input:checked ~ label::after {
        translate: 30px 0;
        background: #000;
      }
      .switch input:disabled ~ label {
        opacity: 0.35;
        cursor: not-allowed;
      }

      .switch.square label,
      .switch.square label::after {
        border-radius: 0;
      }
    }
  }
}
.toggleSide {
  transform: translateX(1%);
}
// MAIN
main {
  position: relative;
  overflow: hidden;
  width: 101%;
  .filters {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      border: none;
      padding: 7px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 9px;
      color: var(--font-color);
      background-color: var(--background-buttons);
    }
    .active {
      background-color: red;
      color: white;
    }
  }
  .calendar {
    background-color: var(--background-nav);
    padding: 8px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    #previous-day,
    #next-day {
      background-color: lightgray;
      padding: 7px;
      border-radius: 8px;
      border: none;
      width: 10%;
    }
    .date-picker {
      padding: 7px;
      background-color: lightgray;
      border-radius: 8px;
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      i {
        margin-right: 2%;
      }
      p {
        width: 50%;
      }
      .day,
      .day-week {
        margin-left: 7%;
      }
    }
  }
  .matches {
    display: flex;
    flex-direction: column;
    .league {
      background-color: white;
      .none {
        display: none;
      }
      .premier-league-match {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        .favourites-match {
          width: 10%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .match {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          padding: 0 3%;
          .date {
            font-weight: bold;
            margin-right: 5%;
          }
          .home {
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: row;
          }
          .away {
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: row;
          }
        }
        .info-match {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          padding-right: 5%;
          .result {
            display: none;
          }
        }
      }
    }
  }
}
