*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  overflow-y: scroll;
}

.theme-light {
  --background-nav: #c8cdcd;
  --background-buttons: #dcd7d7;
  --font-color: #000000;
}

.theme-dark {
  --background-nav: #212222;
  --background-buttons: #000;
  --font-color: #ffffff;
}

header {
  background-color: #001e28;
  color: white;
  width: 101%;
}
header .short-description {
  background-color: #112f39;
  text-align: center;
  padding: 5px;
}
header .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  overflow: hidden;
}
header .header-content .left-side {
  width: 50%;
}
header .header-content .left-side .title {
  width: 100%;
  text-transform: uppercase;
}
header .header-content .left-side .title .logo img {
  width: 10%;
}
header .header-content .right-side {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .header-content .right-side button {
  border: none;
  background-color: #3a7d94;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
header .header-items {
  display: flex;
  flex-direction: row;
  width: 100%;
}
header .header-items div {
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
header .header-items div i {
  margin-right: 5px;
}
header .header-items .active {
  background-color: #23353b;
  border-bottom: 5px solid red;
}

nav {
  width: 101%;
  background-color: var(--background-nav);
  padding: 0 5px;
  font-size: 12px;
}
nav .image img {
  width: 50%;
}

.side-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  background-color: rgb(146, 145, 145);
  width: 40%;
  height: 101vh;
  z-index: 100;
  transform: translateX(102%);
  transition: transform 0.4s;
}
.side-menu .top-menu {
  position: relative;
  top: 0;
  height: 6%;
  width: 100%;
}
.side-menu .top-menu #close {
  position: absolute;
  right: 0;
  padding: 10px;
  color: white;
}
.side-menu .list-menu {
  position: relative;
  top: 5%;
  color: white;
}
.side-menu .list-menu .theme {
  margin-bottom: 30px;
}
.side-menu .list-menu .theme p {
  margin-bottom: 10px;
}
.side-menu .list-menu .theme .switch input {
  display: none;
}
.side-menu .list-menu .theme .switch label {
  display: block;
  width: 60px;
  height: 30px;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s;
}
.side-menu .list-menu .theme .switch label::after {
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: white;
  transition: 0.3s;
}
.side-menu .list-menu .theme .switch input:checked ~ label {
  border-color: #000;
}
.side-menu .list-menu .theme .switch input:checked ~ label::after {
  translate: 30px 0;
  background: #000;
}
.side-menu .list-menu .theme .switch input:disabled ~ label {
  opacity: 0.35;
  cursor: not-allowed;
}
.side-menu .list-menu .theme .switch.square label,
.side-menu .list-menu .theme .switch.square label::after {
  border-radius: 0;
}

.toggleSide {
  transform: translateX(1%);
}

main {
  position: relative;
  overflow: hidden;
  width: 101%;
}
main .filters {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .filters button {
  border: none;
  padding: 7px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 9px;
  color: var(--font-color);
  background-color: var(--background-buttons);
}
main .filters .active {
  background-color: red;
  color: white;
}
main .calendar {
  background-color: var(--background-nav);
  padding: 8px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
main .calendar #previous-day,
main .calendar #next-day {
  background-color: lightgray;
  padding: 7px;
  border-radius: 8px;
  border: none;
  width: 10%;
}
main .calendar .date-picker {
  padding: 7px;
  background-color: lightgray;
  border-radius: 8px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .calendar .date-picker i {
  margin-right: 2%;
}
main .calendar .date-picker p {
  width: 50%;
}
main .calendar .date-picker .day,
main .calendar .date-picker .day-week {
  margin-left: 7%;
}
main .matches {
  display: flex;
  flex-direction: column;
}
main .matches .league {
  background-color: white;
}
main .matches .league .none {
  display: none;
}
main .matches .league .premier-league-match {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}
main .matches .league .premier-league-match .favourites-match {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .matches .league .premier-league-match .match {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 3%;
}
main .matches .league .premier-league-match .match .date {
  font-weight: bold;
  margin-right: 5%;
}
main .matches .league .premier-league-match .match .home {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
main .matches .league .premier-league-match .match .away {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
main .matches .league .premier-league-match .info-match {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding-right: 5%;
}
main .matches .league .premier-league-match .info-match .result {
  display: none;
}/*# sourceMappingURL=style.css.map */